@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" onclick="getLocation()">Click</h1>
    
    <input class="form-control" id="lan" name="id" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p id="demo"></p>
<script>
    var x = document.getElementById("demo");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
      
        document.getElementById("lan").value = position.coords.latitude;

    }
</script>
